{% extends 'login_page.html' %}
{% load static %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 style="padding: 1em;">About us</h3>
            </div>
        </div>
        <div class="row align-items-center font-weight-bold">
            <div class="col-md-6" style="margin: auto;">
                <img src="{% static 'gym4.jpg' %}" width="80%" height="80%" alt="No image">
            </div>
            <div class="col-md-6">
                <p>This is a simple Gym management system created by Aswin.T.R using <br>
                    python,django,SQLite,HTML,CSS,Bootstrap4 etc.</p>
            </div>
        </div>
    </div>


    {% endblock %}
