<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
  .card:hover{
    border-color: maroon;
  }
</style>

<body style="background-color: lightyellow; margin: 0%;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Gym Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Enquiry
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'add_enquiry' %}">Add Enquiry</a>
                    <a class="dropdown-item" href="{% url 'view_enquiry' %}">View Enquiry</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Plans
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Add plan</a>
                      <a class="dropdown-item" href="#">View plan</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Equipments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Add equipment</a>
                      <a class="dropdown-item" href="#">View equipment</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Members
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Add member</a>
                      <a class="dropdown-item" href="#">View member</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Log out</a>
                  </li>
              </ul>
            </div>
          </nav>
    </header>

    {% block content %}

    <section>
      <div class="container" style="height: 530px;">
        <div class="row">
          <div class="col-md-12 text-center" style="padding: 2em;">
            <h2>Admin Dashboard</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card text-center" style="width: 16rem; margin: 1em;">
              <div class="card-body">
                <h4 class="card-title">{{len_enq}}</h4>
                <a href="{% url 'view_enquiry' %}" class="">Enquiry</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center" style="width: 16rem; margin: 1em;">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <a href="#" class="">Plans</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center" style="width: 16rem; margin: 1em;">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <a href="#" class="">Equipments</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center" style="width: 16rem; margin: 1em;">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <a href="#" class="">Members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}


    <footer class="bg-dark align-bottom" style="height: 3em; position: fixed; bottom: 0%; width: 100%;">
        <div class="footer-copyright">
          <div class="container" style="color: aliceblue;">
          © 2020 Copyright All rights reserved | This website is created by <big>Aswin TR</big>
          <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
          </div>
        </div>
    </footer>

    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>